<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Student Login</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1 style  = "color: #000;">Examomatic</h1>
		
		<h2 style = "color: rgb(0, 0, 0);">Your Online Testing Partner</h2>
		<h4 style = "color: #000;">Online exam system for all your testing needs for assessment, recruitment, selection and certifications.</h3>
		<span>
			<!-- <p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a> -->
		</span>
		</div>
	</div>
	
	
		<div class="right">	
		<h5>Student</h5>
		<h5>Login</h5>
		<p>Log in with your registered account here &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p> 
		<form>
		<div class="inputs">
			
			<input type="text" placeholder="Username" required>
			<br>
			<input type="password" placeholder="Password" required>
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<!-- <p>forget password?</p> -->
		</div>
			
			<br>
			<button onclick="myFunction()">Login</button>
			<script>
				function myFunction() {
				  location.replace("https://www.w3schools.com")
				}
			</script>
	</div>

	
</div>
</form>
<!-- partial -->
  
</body>
</html>
